:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: sans-serif;
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #CCC6BC;

}

a {
  text-decoration: none;
  color: #262626;
  font-weight: 600;
}
a:hover{
  color: purple;
}
header {
box-sizing: border-box;
background-image: url('tomatoes.jpg');
background-color: ;
background-blend-mode: multiply;
width: 100vw;
height: 100vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding-left: 40px;
padding-right: 40px;
padding-top: 40px;
display: flex;
flex-direction: column;
}



header h1 {
  margin: 0;
  padding-top: 40vh;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 70px;
  letter-spacing: 2px;
  font-weight: normal;

}


header h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: white;
  padding-left: 30px;
  margin-bottom: 100px;
  size: 60px;
}

form {


}

#search-word {
  border-style: none;
  border: 2px solid #557B5A;
  width: 500px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  color:#557B5A;

}

#search-button {
  border-style: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  background-color: #557B5A;
  color: white;
  margin-top: 10px;
}


@media only screen and (max-width: 650px){
  header {
    justify-content: center;
    align-items: center;
    padding: 5px;

  }
  header h1{
    margin: 0;
    padding: 0;

  }

  header h2 {

padding: 0;

  }
  #search-word {
width: 100vw;
height: 80px;
  }

  #search-button {
width: 100vw;
height: 80px
  }
  #search-form {
    padding: 0;
    margin: 0;
  }
}

/* course display */

#main {
  margin-top: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  width: 100vw;
  /* height: 80vh; */
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  #main {
    flex-direction: row;
  }
}

@media only screen and (max-width: 1023px){
  #main {
    flex-direction: column;
  }
}

#bev-pic, #app-pic, #entree-pic, #dessert-pic {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 360px;

  max-width: 360px;


}
.main-image {


  border-radius: 3px;
-webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975);
  box-shadow: 0 0 5px rgba(0,0,0,.0975);
  margin-bottom: 0;
  padding-bottom: 0;
}

.recipe-title {
  height: 60px;
  max-width: 360px;
  
}

.recipe-title h3 {
  flex-wrap: wrap;
  max-width: 360px;

  margin-top: 0;
  padding-top: 0;

}

.recipe-block h2 {
  text-align: center;
}

.recipe-block ul {
  padding: 0;
}
.recipe-block li{
  list-style: none;
}

.last-block {
  display: flex;
  align-items: flex-end;
}

#drinkInfo-ingredients.show {
  display: block
}
#drinkInfo-ingredients {
  display: none;
