:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: sans-serif;
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #CCC6BC;

}

a {
  text-decoration: none;
  color: #262626;
  font-weight: 600;
}
a:hover{
  color: purple;
}
header {
box-sizing: border-box;
background-image: url('tomatoes.jpg');
width: 100vw;
height: 100vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding-left: 40px;
padding-top: 40px;

}

header h1 {
  margin: 0;
  padding-top: 300px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 70px;
  letter-spacing: 2px;
  font-weight: normal;


}

header h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: white;
  padding-left: 30px;
  margin-bottom: 100px;
}

form {
  padding-left: 30px;

}

#search-word {
  border-style: none;
  width: 500px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding-left: 10px;

}

#search-button {
  border-style: none;
  width: 200px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #606060;
}

/* course display */

#main {
  margin-top: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  flex-direction: row;
  width: 100vw;
  height: 80vh;
  justify-content: space-between;
}

.main-image {
  border: solid 1px #e6e6e6;
  border-radius: 3px;
-webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975);
  box-shadow: 0 0 5px rgba(0,0,0,.0975);
}

.recipe-title {
  flex-wrap: wrap;

  max-width: 360px;
}

.recipe-block h2 {
  text-align: center;
}

.recipe-block ul {
  padding: 0;
}
.recipe-block li{
  list-style: none;
}

.last-block {
  display: flex;
  align-items: flex-end;
}

#drinkInfo-ingredients.show {
  display: block
}
#drinkInfo-ingredients {
  display: none;
