:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #606060;
  background-color: #CCC6BC;

}
header {
box-sizing: border-box;
background-image: url('tomatoes.jpg');
width: 100vw;
height: 100vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding-left: 40px;
padding-top: 40px;

}

header h1 {
  margin: 0;
  padding-top: 300px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 70px;
  letter-spacing: 2px;
  font-weight: normal;


}

header h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: white;
  padding-left: 30px;
  margin-bottom: 100px;
}

form {
  padding-left: 30px;

}

#search-word {
  border-style: none;
  width: 500px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding-left: 10px;

}

#search-button {
  border-style: none;
  width: 200px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #606060;
}

/* course display */

#main {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 80vh;
  justify-content: space-between;
}

.main-image {
  border-radius: 3px;
}



}

.recipe-block h2 {
  text-align: center;
}

.recipe-block ul {
  padding: 0;
}
.recipe-block li{
  list-style: none;
}

.last-block {
  display: flex;
  align-items: flex-end;
}
#view-drink.show {
  display: block
}
#view-drink {
  display: none;
}
